<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <!-- The 'novalidate' variable allow block validation of browser -->
        <form [formGroup]="orderForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12 col-sm-9">
              <p class="lead">Dados do Cliente:</p>
            </div>
            <div class="col-xs-12 col-sm-3" *ngIf="orderForm.hasError('emailsNotMatch')">
              <span class="help-block has-error-block pull-right"><i class="fa fa-remove"></i> email-s não conferem! </span>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Name" errorMessage="Obrigatório e no mínimo 5 caracteres">
                  <input
                    type="text" class="form-control" formControlName="name"
                    placeholder="nome do usuário"
                    autocomplete="off"
                  >
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Email" errorMessage="email obrigatório">
                <input type="text" class="form-control" formControlName="email" placeholder="email" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Confirmação de Email" errorMessage="confirmação de email obrigatória">
                <input type="text" class="form-control" formControlName="emailConfirmation" autocomplete="off" placeholder="confirme o email">
              </mt-input-container>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Endereço de Entrega:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container label="Endereço" errorMessage="Obrigatório e no mínimo 5 caracteres">
                  <input
                    type="text" class="form-control" formControlName="address"
                    placeholder="Endereço"
                  >
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Número" errorMessage="0brigatório e apenas números">
                <input type="text" class="form-control" formControlName="number" placeholder="Número" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <div class="form-group">
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Complemento </label>
                <input type="text" class="form-control" formControlName="optional" autocomplete="off" placeholder="Complemento">
              </div>
            </div>
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            <mt-order-itens
              (increaseQty)="increaseQty($event)"
              (decreaseQty)="decreaseQty($event)"
              (remove)="remove($event)"
              [itens]="cartItens()"
            ></mt-order-itens>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Formas de Pagamento:</p>

                <div class="form-group">
                  <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Frete e Total:</p>

              <mt-delivery-costs
                [delivery] = "delivery"
                [itensValue] = "itensValue()"
              ></mt-delivery-costs>

            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button
              class="btn btn-success pull-right"
              [disabled]="orderForm.invalid || !cartItens().length"
              (click)="checkOrder(orderForm.value)"
            >
              <i class="fa fa-credit-card"></i> Concluir Pedido
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->